<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FooDelicious</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="content">
      <header class="header sticky-top">
        <nav class="navbar navbar-expand-md bg-light justify-content-between ">
          <a class="navbar-brand" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512"
              style="width:30px; height:30px;"
            >
              <path
                d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm117.8-146.4c-10.2-8.5-25.3-7.1-33.8 3.1-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8zM168 240c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160-60c-25.7 0-55.9 16.9-59.9 42.1-1.7 11.2 11.5 18.2 19.8 10.8l9.5-8.5c14.8-13.2 46.2-13.2 61 0l9.5 8.5c8.5 7.4 21.6.3 19.8-10.8-3.8-25.2-34-42.1-59.7-42.1z"
                style="fill:#ffc0cb;"
              />
            </svg>

            <span class="text-success">Foo</span><span class="text-warning">D</span
            ><span class="text-info">elicious</span>
          </a>
          <button
            class="navbar-toggler collapse_button"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon c_pink">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.506 68.128 13.522 99.974 0l53.411 53.411c-63.217 38.319-143.579 38.319-206.796 0zM336 256c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zm91.28 103.398l-53.411-53.411c13.505-31.806 13.522-68.128 0-99.974l53.411-53.411c38.319 63.217 38.319 143.579 0 206.796zM359.397 84.72l-53.411 53.411c-31.806-13.505-68.128-13.522-99.973 0L152.602 84.72c63.217-38.319 143.579-38.319 206.795 0zM84.72 152.602l53.411 53.411c-13.506 31.806-13.522 68.128 0 99.974L84.72 359.398c-38.319-63.217-38.319-143.579 0-206.796z"
                  style="fill: pink"
                />
              </svg>
            </span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav nav-tabs navbarNav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main class="main">
        <section class="title d_flex justify-content-center align-items-center c_pw">
          <div class="quote_div">
            <h3 class="tt_upper quote_div_h3">Food at it's best!</h3>
            <h1 class="mb_10 pb_10">Food is not just eating energy. It's an experience</h1>
          </div>
          <button class="btn btn-outline-warning d_ib br_200 mt_10 tt_upper pulsate">
            Reservation
          </button>
        </section>
        <section id="foodSection" class="bg_white foodSection">
          <h3 class="ta_center">Recommended for you Today</h3>
          <div class="row foodContainer justify-content-around">
            <article
              class="card foodCard c_pw position-relative o_h c_p col-lg-3 col-md-3 col-sm-5"
            >
              <img src="../assets/images/food18.png" class="card-img-top foodImg" alt="food" />
              <div class="foodImgText position-absolute ta_center">
                <h3 class="mb_10">Breakfast</h3>
              </div>
              <div
                class="imgFooter d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article
              class="card foodCard c_pw position-relative o_h c_p col-lg-3 col-md-3 col-sm-5"
            >
              <img src="../assets/images/food19.png" class="card-img-top foodImg" alt="food" />
              <div class="foodImgText position-absolute ta_center">
                <h3 class="mb_10">Lunch</h3>
              </div>
              <div
                class="imgFooter d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article
              class="card foodCard c_pw position-relative o_h c_p col-lg-3 col-md-3 col-sm-5"
            >
              <img src="../assets/images/food12.png" class="card-img-top foodImg" alt="food" />
              <div class="foodImgText position-absolute ta_center">
                <h3 class="mb_10">Dinner</h3>
              </div>
              <div
                class="imgFooter d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section id="ourMenuSection" class="ourMenuSection">
          <h3 class="ta_center">Our Menu</h3>
          <div class="row foodContainer">
            <h4 class="col-12 p_10 text-warning">Healthy Foods</h4>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food18.png"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Spicy Spag & Fish</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food19.png"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Chicken, veg & potato</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$45</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food9.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Garnish bread & sauce</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$50</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food20.png"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Fish & Sauce</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$20</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food1.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Veg macaroni</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/food7.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Hamburger with chips & sauce</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
          </div>
          <div class="row foodContainer">
            <h4 class="col-12 p_10 text-warning">Fruits</h4>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit2.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Apples</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit3.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Oranges</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$45</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit4.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Watermelon</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$50</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit5.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Banana</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$20</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit6.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Grapes</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
            <article class="card menuCard position-relative o_h c_p col-lg-4 col-md-4 col-sm-6">
              <img
                src="../assets/images/fruit1.jpg"
                class="card-img-top"
                style="height: 100%;"
                alt="food"
              />
              <div class="foodImgText c_pw position-absolute ta_center">
                <h5 class="mb_10">Fruit mix</h5>
              </div>
              <div
                class="imgFooter c_pw d_flex justify-content-between w_full position-absolute l_0 b_0 p_10"
              >
                <div>
                  <span>$35</span>
                </div>
                <div>
                  <button class="btn btn-dark btn-sm td_none tt_cap c_w foodBtn d_ib">
                    Order now
                  </button>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section id="aboutSection" class="bg_white mt_10">
          <header class="about">
            <h2 class="tt_cap ta_center">About Us</h2>
            <p>
              <span class="text-success">Foo</span><span class="text-warning">D</span
              ><span class="text-info">elicious</span> Restaurant aims at making the best meals
              while also taking into account the health benefits of food to make a blend of food
              that is delicious and healthy for it's customers. Restaurant aims at making the best
              meals while also taking into account the health benefits of food to make a blend of
              food that is delicious and healthy for it's customers. Restaurant aims at making the
              best meals while also taking into account the health benefits of food to make a blend
              of food that is delicious and healthy for it's customers.<br />
              Restaurant aims at making the best meals while also taking into account the health
              benefits of food to make a blend of food that is delicious and healthy for it's
              customers. Restaurant aims at making the best meals while also taking into account the
              health benefits of food to make a blend of food that is delicious and healthy for it's
              customers. Restaurant aims at making the best meals while also taking into account the
              health benefits of food to make a blend of food that is delicious and healthy for it's
              customers.<br />
              The following categories of food are available at foodelicious:
            </p>
          </header>

          <div class="abouts row mt_10">
            <h3 class="tt_cap ta_center p_10 col-12">Categories</h3>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">Drinks</h2>
                <p class="about_info">
                  We offer quality drinks. We offer quality drinks. We offer quality drinks. We
                  offer quality drinks. We offer quality drinks. We offer quality drinks.
                </p>
              </div>
            </article>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416 512">
                    <path
                      d="M207.9 15.2c.8 4.7 16.1 94.5 16.1 128.8 0 52.3-27.8 89.6-68.9 104.6L168 486.7c.7 13.7-10.2 25.3-24 25.3H80c-13.7 0-24.7-11.5-24-25.3l12.9-238.1C27.7 233.6 0 196.2 0 144 0 109.6 15.3 19.9 16.1 15.2 19.3-5.1 61.4-5.4 64 16.3v141.2c1.3 3.4 15.1 3.2 16 0 1.4-25.3 7.9-139.2 8-141.8 3.3-20.8 44.7-20.8 47.9 0 .2 2.7 6.6 116.5 8 141.8.9 3.2 14.8 3.4 16 0V16.3c2.6-21.6 44.8-21.4 48-1.1zm119.2 285.7l-15 185.1c-1.2 14 9.9 26 23.9 26h56c13.3 0 24-10.7 24-24V24c0-13.2-10.7-24-24-24-82.5 0-221.4 178.5-64.9 300.9z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">Healthy Foods</h2>
                <p class="about_info mt_10">
                  We offer quality healthy foods. We offer quality healthy foods. We offer quality
                  healthy foods. We offer quality healthy foods. We offer quality healthy foods.
                </p>
              </div>
            </article>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M501.54 60.91c17.22-17.22 12.51-46.25-9.27-57.14a35.696 35.696 0 0 0-37.37 3.37L251.09 160h151.37l99.08-99.09zM496 192H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h16c0 80.98 50.2 150.11 121.13 178.32-12.76 16.87-21.72 36.8-24.95 58.69-1.46 9.92 6.04 18.98 16.07 18.98h223.5c10.03 0 17.53-9.06 16.07-18.98-3.22-21.89-12.18-41.82-24.95-58.69C429.8 406.11 480 336.98 480 256h16c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">Organic Foods</h2>
                <p class="about_info">
                  We offer quality Organic Foods. We offer quality Organic Foods. We offer quality
                  Organic Foods. We offer quality Organic Foods. We offer quality Organic Foods.
                </p>
              </div>
            </article>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">White Meat</h2>
                <p class="about_info">
                  We offer quality white meats. We offer quality white meats. We offer quality white
                  meats. We offer quality white meats. We offer quality white meats.
                </p>
              </div>
            </article>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                      d="M327.1 96c-89.97 0-168.54 54.77-212.27 101.63L27.5 131.58c-12.13-9.18-30.24.6-27.14 14.66L24.54 256 .35 365.77c-3.1 14.06 15.01 23.83 27.14 14.66l87.33-66.05C158.55 361.23 237.13 416 327.1 416 464.56 416 576 288 576 256S464.56 96 327.1 96zm87.43 184c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24 13.26 0 24 10.74 24 24 0 13.25-10.75 24-24 24z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">Sea Foods</h2>
                <p class="about_info">
                  We offer quality sea foods. We offer quality sea foods. We offer quality sea
                  foods. We offer quality sea foods. We offer quality sea foods. We offer quality
                  sea foods.
                </p>
              </div>
            </article>
            <article class="about col-md-4 col-sm-6 d_flex">
              <div class="aboutIcon c_p">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M351.18 129.15c-35.53-6.25-98.06 14.36-127.18 30.81-29.12-16.45-91.66-37.07-127.19-30.81-81.24 14.3-107.42 124.49-93.09 205.6C18.05 415.86 65.02 512 160.41 512c12.06 0 24.12-4.61 34.44-10.34 18.08-10.03 40.23-10.03 58.31 0 10.32 5.73 22.38 10.34 34.43 10.34 95.39 0 142.36-96.14 156.68-177.25 14.33-81.11-11.83-191.3-93.09-205.6zm-55.55-41.53C326.19 57.06 319.35.65 319.35.65s-56.41-6.85-86.97 23.72c-30.57 30.57-23.72 86.97-23.72 86.97s56.4 6.85 86.97-23.72z"
                      style="fill: #ffc107;"
                    />
                  </svg>
                </span>
              </div>
              <div class="about_div">
                <h2 class="about_title c_p tt_cap text-warning">Fruits</h2>
                <p class="about_info">
                  We offer fresh ripe fruits. We offer fresh ripe fruits. We offer fresh ripe
                  fruits. We offer fresh ripe fruits. We offer fresh ripe fruits. We offer fresh
                  ripe fruits.
                </p>
              </div>
            </article>
          </div>
        </section>
        <section class="contactSection m_10">
          <div class="contactDiv row justify-content-center">
            <div class="col-md-6 col-sm-6 bg-light mapDiv  d_flex align-items-center p_10">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15854.389528666557!2d3.393986552309733!3d6.572389872816451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b929bfe863fc9%3A0xb9de1638225d4f6!2s5%20Buari%20St%2C%20Ogudu%20100242%2C%20Lagos!5e0!3m2!1sen!2sng!4v1597143555428!5m2!1sen!2sng"
                style="border:0; width: 100%; min-height: 450px;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
                class="map"
              ></iframe>
            </div>
            <div class="col-md-4 col-sm-6 border contactD p_10">
              <h3 class="ta_center p_10"><span class="bb_block">Contact Us</span></h3>
              <div class="bg_address c_pw">
                <div class="d_flex">
                  <div class="mr_10">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                      style="width:15px; height:15px;"
                    >
                      <path
                        d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
                        style="fill: #ffc107"
                      />
                    </svg>
                  </div>
                  <div class="mb_10">
                    <h3 class="mb_10">Locate Us</h3>
                    <p>
                      15 Maryland Street,<br />
                      New York,<br />
                      USA.
                    </p>
                  </div>
                </div>
                <div class="d_flex">
                  <div class="mr_10">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      style="width:15px; height:15px;"
                    >
                      <path
                        d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"
                        style="fill: #ffc107"
                      />
                    </svg>
                  </div>
                  <div>
                    <h3 class="mb_10">Open Hours</h3>
                    <p>
                      <strong class="name">Monday-Friday:</strong> 8am-9pm <br />
                      <strong class="name">Saturday-Sunday:</strong> 8am-7pm <br />
                    </p>
                  </div>
                </div>
                <div class="d_flex">
                  <div class="mr_10">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      style="width:15px; height:15px;"
                    >
                      <path
                        d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"
                        style="fill: #ffc107"
                      />
                    </svg>
                  </div>
                  <div class="c_p">
                    <p>+234 809-8765-432</p>
                  </div>
                </div>
              </div>
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control bt_none bl_none br_none"
                    id="name"
                    placeholder="Enter name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control bt_none bl_none br_none"
                    id="exampleInputEmail1"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control bt_none bl_none br_none"
                    id="number"
                    placeholder="Enter number"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Subject"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-outline-warning btn-block">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </main>
      <aside>
        <section id="menu" class="menu bg-warning">
          <h2 class="d-none">address</h2>
          <article class="menu_image c_pw">
            <div class="bg_address">
              <div class="d_flex">
                <div class="mr_10">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                    style="width:15px; height:15px;"
                  >
                    <path
                      d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
                      style="fill: #ffc107"
                    />
                  </svg>
                </div>
                <div class="mb_10">
                  <h3 class="mb_10">Locate Us</h3>
                  <p>
                    15 Maryland Street,<br />
                    New York,<br />
                    USA.
                  </p>
                </div>
              </div>
              <div class="d_flex">
                <div class="mr_10">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    style="width:15px; height:15px;"
                  >
                    <path
                      d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"
                      style="fill: #ffc107"
                    />
                  </svg>
                </div>
                <div>
                  <h3 class="mb_10">Open Hours</h3>
                  <p>
                    <strong class="name">Monday-Friday:</strong> 8am-9pm <br />
                    <strong class="name">Saturday-Sunday:</strong> 8am-7pm <br />
                  </p>
                </div>
              </div>
              <div class="d_flex">
                <div class="mr_10">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    style="width:15px; height:15px;"
                  >
                    <path
                      d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"
                      style="fill: #ffc107"
                    />
                  </svg>
                </div>
                <div class="c_p">
                  <p>+234 809-8765-432</p>
                </div>
              </div>
            </div>
          </article>
          <article class="menu_text ">
            <div class="menu_text_div">
              <h2 class="tt_upper mb_10">Our Menu</h2>
              <p class="menu_p">
                We sell quality foods,which includes We sell quality foods,which includes We sell
                quality foods,which includes We sell quality foods,which includes We sell quality
                foods,which includes
              </p>
              <a href="#" class="menu_a d_ib br_200 tt_upper text-warning shadow">Explore</a>
            </div>
          </article>
        </section>
      </aside>
      <footer id="footer" class="bg-warnng ta_center">
        <section class="footerSection bbg c_w  p_10 font_12">
          <h2 class="d-none">footer</h2>
          <div class=" row">
            <div class="col-md-5 col-sm-6 footerAboutDivP no_p">
              <div class="d_flex footerAboutDiv justify-content-sm-end">
                <nav class="nav">
                  <a class="nav-link" href="#">About Us</a>
                  <a class="nav-link" href="#">FAQs</a>
                  <a class="nav-link" href="#">Terms</a>
                  <a class="nav-link" href="#">Contact Us</a>
                </nav>
              </div>
            </div>
            <div class="col-md-2 d-none d-md-block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 496 512"
                style="width:30px; height:30px;"
              >
                <path
                  d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm117.8-146.4c-10.2-8.5-25.3-7.1-33.8 3.1-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8zM168 240c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160-60c-25.7 0-55.9 16.9-59.9 42.1-1.7 11.2 11.5 18.2 19.8 10.8l9.5-8.5c14.8-13.2 46.2-13.2 61 0l9.5 8.5c8.5 7.4 21.6.3 19.8-10.8-3.8-25.2-34-42.1-59.7-42.1z"
                  style="fill:pink;"
                />
              </svg>
            </div>
            <div class="col-md-5 col-sm-6 jobsDivP no_p">
              <div class="d_flex jobsDiv justify-content-sm-start">
                <nav class="nav">
                  <a class="nav-link" href="#">Jobs</a>
                  <a class="nav-link" href="#">Services</a>
                  <a class="nav-link" href="#">Delivery</a>
                  <a class="nav-link" href="#">Newsletter</a>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="p_10 row socialSec">
          <h2 class="d-none">social</h2>
          <section class="socialIcons col-sm-6 col-md-6">
            <h2 class="d-none">social</h2>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                    style="fill: #3b5998;"
                  />
                </svg>
              </span>
            </a>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                    style="fill: #38a1f3;"
                  />
                </svg>
              </span>
            </a>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                    style="fill: #e1306c;"
                  />
                </svg>
              </span>
            </a>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                  <path
                    d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm-70.7 372c-68.8 0-124-55.5-124-124s55.2-124 124-124c31.3 0 60.1 11 83 32.3l-33.6 32.6c-13.2-12.9-31.3-19.1-49.4-19.1-42.9 0-77.2 35.5-77.2 78.1s34.2 78.1 77.2 78.1c32.6 0 64.9-19.1 70.1-53.3h-70.1v-42.6h116.9c1.3 6.8 1.9 13.6 1.9 20.7 0 70.8-47.5 121.2-118.8 121.2zm230.2-106.2v35.5H372v-35.5h-35.5v-35.5H372v-35.5h35.5v35.5h35.2v35.5h-35.2z"
                    style="fill: #db4a39;"
                  />
                </svg>
              </span>
            </a>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                    style="fill: #dc3545;"
                  />
                </svg>
              </span>
            </a>
            <a href="#">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                    style="fill: #0c8ff5;"
                  />
                </svg>
              </span>
            </a>
          </section>
          <section class="font_12 col-sm-6 col-md-6 socialC c_w">
            <h2 class="d-none">by</h2>
            <p>© 2020. Designed By Adeleye Jamiu.</p>
          </section>
        </section>
      </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
