.content {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
               /*url(../assets/images/res5.jpg) center/cover no-repeat fixed;*/
  margin-top: auto;
  position: relative;
}

.collapse_button {
  border: 1px solid pink;
}

.navbar-collapse {
  flex-grow: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  width: 100%;
  z-index: 2;
  padding: 250px 0;
  font-size: 50px;
}

.pulsate {
  animation: pulsate 3s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.3;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.category {
  padding: 15px;
}

.categoryIcon svg {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.categoryIcon svg path {
  fill: #ffc107;
}

.categoryIcon:hover,
.cat_title:hover {
  transition: transform 2s ease, color 2s ease;
  transform: translateY(-10px);
  color: #cd6100;
  cursor: pointer;
}

.footerSection {
  padding: 50px 0;
}

.footerAboutDiv,
.jobsDiv {
  justify-content: center;
}

.socialIcons a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2.5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: transform 2s ease, color 2s ease;
}

.socialIcons a:hover {
  transform: translateY(-15px);
}

.dish {
  background: linear-gradient(rgba(205, 96, 0, 0.7), rgba(205, 96, 0, 0.7));
      /*url(../assets/images/res5.jpg) center/cover no-repeat fixed;*/
}

.foodSection {
  padding: 20px;
}

.foodContainer {
  max-width: 90vw;
  margin: 0 auto;
}

.foodCard {
  background: linear-gradient(rgba(205, 96, 0, 0.7), rgba(205, 96, 0, 0.7));
  margin: 20px 0;
  padding: 3px;
  border-radius: 16px;
  border: 1px solid #ffc107;
  box-shadow: 2px 3px 1px 1px #cd6100;
}

.foodImg {
  width: 100%;
  min-height: 100%;
  transition: transform 3s;
}

.foodImgText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 3s;
}

.foodImgText,
.imgFooter {
  opacity: 0;
  transition: opacity 3s;
}

.imgFooter {
  font-size: 30px;
}

.cardFooterIcon svg {
  width: 30px;
  height: 30px;
}

.foodCard:hover img {
  opacity: 0.4;
  transform: scale(1.3);
}

.foodCard:hover .foodImgText,
.foodCard:hover .imgFooter {
  opacity: 1;
}

.foodBtn {
  border-radius: 180px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.foodBtn:hover {
  color: #ffc107;
  background: #fff;
  border: #000;
  outline: none;
}
